@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-button {
  background: linear-gradient(to right, #ea33e7, #3b82f6);
  border-radius: 9999px;
  position: relative;
  z-index: 1;
}

.gradient-button::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: black;
  border-radius: 9999px;
  z-index: -1;
}